.swiper {
  &-container-home {
    height: 372px !important;
  }

  &-item{
    display: flex;
    align-items: center;
    @media screen and(max-width:768px){
       justify-content: center;
    }
  }

  &-card{
      max-width: 300px;
      max-height: 150x;
      background-color: rgba(255,255,255,0.8);
      border-radius: 16px;
      padding: 0 25px 0 25px;
      @media screen and(min-width:768px){
        margin-left: 150px;
      }
  }

  
  
}
