

.header-company{
  border-style: none!important;
}

.form-busca {
  text-align: right;
  width: 100%;
  margin-right: 20px;
  @media screen and(max-width:768px) {
    text-align: center;
  }
  &-input {
    padding: 10px;
    border-color: #FFCB00;
    border-style: none;
  }

  &-button {
    font-family: Quicksand, sans-serif;
    padding: 10px;
    background-color: #FFCB00;
    border-style: none;
    color: #333333;
    text-transform: uppercase;
  }
}

.body{
  background-color: #f3f2f2;
}

.container-busca{
  background-color: #333333;
  @media screen and(max-width:768px){
    padding: 30px 0 30px 0;
  }
}

.container-produtos {
  width: 100%;
  padding-top: 0;
  padding-bottom: 20px;
}

.card {
  max-width: 300px;
  background-color: #ffffff;
  font-family: "Slabo 27px", serif;
  border: 2px solid #f3f2f2;
  font-family: Oswald,sans-serif;
  &-product_title{
    padding: 15px;
    color: #333;
    background-color: #FFCC00;
    text-transform: uppercase;
  }

  &-image{
      max-height: 300px;
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  &-product_information {
    padding: 10px 0 10px 20px;
    
  }

  &-product_name {
    margin: 0;
    font-size: 18px;
    
  }

  &-product_price {
    margin: 0;
  }

  &-product_button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: lemonchiffon;
    border-style: none;
    cursor: pointer;
  }
}

.row {
  display: flex;
  justify-content: center;
  margin: 0 0 60px 0;
  @media screen and(max-width: 768px) {
    display: grid;
    justify-content: center;
  }
}
