html {
  font-family: Open Sans;
}

.container{
  &-about{
    @media screen and(max-width: 768px){
      display: flex!important;
      flex-direction: column-reverse!important;
    }
    &-image{
      @media screen and(max-width: 768px){
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        display: grid;
      }
    }
  }
}

.about{
  &-description{
    padding-left: 30px;
    p{
      font-size: 14px;
    }
  }
}

