.container {

  &-home {
  
    &-item {
      width: 49.999%;
      display: grid;
      text-align: justify;
      font-family: 'Slabo 27px', serif;
      @media screen and(max-width: 768px) {
        width: 100%;
      }
      align-content: center;
      img {
        display: block;
        @media screen and (max-width: 768px) {
          padding: 20px 0;
        }
      }

      h1{
        margin: 0;
        font-size: 25px;
      }
      p{
        font-size: 18px;
      }
    }
  }
}
