<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/assets/css/produtos.css">
    <link rel="stylesheet" href="/assets/css/common/common.min.css">
    <link rel="stylesheet" href="/assets/css/swiper-4.5.min.css">

    <title>Document</title>
</head>

<body>
    {% include "../templates/partials/header.html" %}

    <section class="body">
        <div class="container-conteudo">
            <div class="form-busca">
                <form action="#">
                    <input class="form-busca-input" type="text" placeholder="Protuto">
                    <button class="form-busca-button" type="submit">Buscar</button>
                </form>
            </div>
        </div>
        <div class="container-conteudo">
            <div class="container-produtos">
                <div class="row">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://localhost:8080/assets/img/tetraChave.jpg" alt="">
                        </div>
                        <div class="card-product_information">
                            <p class="card-product_name">Tetra Chave</p>
                            <p class="card-product_price">R$98,90</p>
                        </div>
                        <button type="button" class="card-product_button">Solicitar</button>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="http://localhost:8080/assets/img/tetraChave.jpg" alt="">
                        </div>
                        <div class="card-product_information">
                            <p class="card-product_name">Tetra Chave</p>
                            <p class="card-product_price">R$98,90</p>
                        </div>
                        <button type="button" class="card-product_button">Solicitar</button>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="http://localhost:8080/assets/img/tetraChave.jpg" alt="">
                        </div>
                        <div class="card-product_information">
                            <p class="card-product_name">Tetra Chave</p>
                            <p class="card-product_price">R$98,90</p>
                        </div>
                        <button type="button" class="card-product_button">Solicitar</button>
                    </div>
                </div>

                <div class="row">
                    <div class="card">
                        <div class="card-image">
                            <img src="http://localhost:8080/assets/img/tetraChave.jpg" alt="">
                        </div>
                        <div class="card-product_information">
                            <p class="card-product_name">Tetra Chave</p>
                            <p class="card-product_price">R$98,90</p>
                        </div>
                        <button type="button" class="card-product_button">Solicitar</button>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="http://localhost:8080/assets/img/tetraChave.jpg" alt="">
                        </div>
                        <div class="card-product_information">
                            <p class="card-product_name">Tetra Chave</p>
                            <p class="card-product_price">R$98,90</p>
                        </div>
                        <button type="button" class="card-product_button">Solicitar</button>
                    </div>

                    <div class="card">
                        <div class="card-image">
                            <img src="http://localhost:8080/assets/img/tetraChave.jpg" alt="">
                        </div>
                        <div class="card-product_information">
                            <p class="card-product_name">Tetra Chave</p>
                            <p class="card-product_price">R$98,90</p>
                        </div>
                        <button type="button" class="card-product_button">Solicitar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include "../templates/partials/modal-whatsapp.html" %}
    {% include "../templates/partials/footer.html" %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: false,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    });
    window.onload = "mySwiper()";

    var prevScrollpos = window.pageYOffset;

    document.getElementsByClassName("header-company")[0].onmouseover = function () {
        document.getElementsByClassName('header')[0].style.top = "0"
    };

    window.onscroll = function () {
        if (window.scrollY > 80) {
            console.log("Esconde");
            document.getElementsByClassName('header')[0].style.top = "-80px"
        } else {
            console.log("Mostra");
            document.getElementsByClassName('header')[0].style.top = "0"
        }
    }

    document.getElementById("modal-whatsapp-close").onclick = function (e) {
        if (!document.getElementById('modal_whatsapp').contains(e.target)) {
            element.removeClass("modal-whatsapp-close", "d-block");
            element.addClass("modal-whatsapp-close", "d-none");
        }
    };

    document.getElementById("whatsapp-button").onclick = function (e) {
        element.removeClass("modal-whatsapp-close", "d-none");
        element.addClass("modal-whatsapp-close", "d-block");
    }

    document.getElementById('button-whatsapp-close').onclick = function (e) {
        element.removeClass("modal-whatsapp-close", "d-block");
        element.addClass("modal-whatsapp-close", "d-none");
    }


    var element = {

        addClass: function (element_id, class_name) {
            var el = document.getElementById(element_id);
            el.classList.add(class_name);
        },

        findClass: function (element_id, class_name) {
            var e = document.getElementById(element_id);
            return e.classList.contains('modal_whatsapp-background');
        },

        removeClass: function (element_id, class_name) {
            var e = document.getElementById(element_id);
            e.classList.remove(class_name);
        }
    }


</script>

</html>