<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../assets/css/produtos.css">
    <link rel="stylesheet" href="../assets/css/common/common.min.css">
    <link rel="stylesheet" href="../assets/css/swiper-4.5.min.css">
    <link rel="shortcut icon" href="../assets/img/key-logo.ico" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

    <title>Chaveiro Mineirão - Produtos</title>
</head>

<body>
    {% include "../templates/partials/header.html" %}

    
    <section class="body">
        <div class="container container-busca">
            <div class="container-conteudo">
                <div class="form-busca">
                    <form action="#">
                        <input class="form-busca-input" type="text" placeholder="Protuto">
                        <button class="form-busca-button" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container ">
            <div class="container-conteudo">
                <div class="container-produtos">

                    {% for i in range(0, 3) -%}
                    <div class="row">
                        {% for i in range(0, 4) -%}
                        <div class="card">
                            <div class="card-product_title">
                                <p class="card-product_name">Tetra Chave</p>
                            </div>
                            <div class="card-image">
                                <img src="../assets/img/cadeado.webp" alt="">
                            </div>
                            <div class="card-product_information">

                                <p class="card-product_price"><span>Por apenas </span>R$98,90</p>
                            </div>
                            <button type="button" class="card-product_button">COMPRAR</button>
                        </div>
                        {%- endfor %}
                    </div>
                    {%- endfor %}
                </div>
            </div>
    </section>

    {% include "../templates/partials/modal-whatsapp.html" %}
    {% include "../templates/partials/footer.html" %}
</body>

<script src="https://stiapp.com.br/pages/chaveiro-mineirao/assets/js/swiper-4.5.0-min.js"></script>
<script src="https://stiapp.com.br/pages/chaveiro-mineirao/assets/js/common-min.js"></script>

</html>