<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/servicos.css">
    <link rel="stylesheet" href="../assets/css/common/common.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
    <link rel="shortcut icon" href="../assets/img/key-logo.ico" />
    <title>Chaveiro Mineirão - Serviços</title>
</head>

<body>
    {% include "../templates/partials/header.html" %}

    <section class="body">
        <div class="container container-title">
            <div class="container-conteudo">
                <h1 class="map-title">Conheça nossos serviços</h1>
            </div>
        </div>
        <div class="container-services">
            
            
            <div class="container-service">
                {% for i in range(1, 5) -%}
                <div class="row-service">
                    <div class="service-card service-card-image">
                        <img width="300px" src="../assets/img/instalacao-tetrachave.jpg" alt="">
                    </div>
                    <div class="service-card service-card-description">
                        <div class="service-card-text">
                            <h2 class="m-0 row-service-title">
                                Instalação de fechadura tetra chave
                            </h2>
                            <p class="m-0 row-service-paragraph">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum delectus similique, quia eveniet nulla dolorum animi
                            </p>
                        </div>
                        <div class="service-card-button">
                            <a class="btn btn-cotacao btn-cotacao-servicos" href="#">Solicitar Cotação</a>
                            <a class="btn btn-ligacao btn-ligacao-servicos" href="tel:031999999999">Ligue Agora</a>
                        </div>
                    </div>
                </div>
                {%- endfor %}
            </div>
           
        </div>
    </section>

    {% include "../templates/partials/modal-whatsapp.html" %}
    {% include "../templates/partials/footer.html" %}
</body>

<script src="https://stiapp.com.br/pages/chaveiro-mineirao/assets/js/swiper-4.5.0-min.js"></script>
<script src="https://stiapp.com.br/pages/chaveiro-mineirao/assets/js/common-min.js"></script>

</html>