<section class="container footer-extras">
    <div class="footer-extras-container">
        <div class="footer-extras-item">
            <h3>Acesso rápido</h3>
            <a class="footer-extras_link" href="">Produtos</a>
            <a class="footer-extras_link" href="">Serviços</a>
            <a class="footer-extras_link" href="">Contato</a>
        </div>
        <div class="footer-extras-item">
            <h3>Onde Estamos</h3>
            {#<p>
                <a class="footer-extras_link">
                    Avenida João Samaha, 1310 São João Bastista
                    Venda Nova, Belo Horizonte
                </a>
            </p>#}
        </div>
        <div class="footer-extras-item">
            <h3>Siga-nos</h3>
            <div class="footer-extras-item_facebook">

            </div>
            <div class="footer-extras-item_instagram">

            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="footer-desktop">
        <div>

        </div>
    </div>
    <div class="footer-contact-mobile">
        <div class="swiper-container footer-contact-swiper__container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper footer-contact-swiper__wrapper">
                <!-- Slides -->
                <a class="swiper-slide">(31) 99468-0534</a>
                <a class="swiper-slide">(31) 3451-5859</a>
                <a class="swiper-slide">(31) 99999-9999</a>

            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>