<div class="modal_whatsapp">

    <form action="">
        <div class="whatsapp-header">
            <div class="whatsapp-image">
                <img width="64px" height="64px" src="http://localhost:8080/assets/img/whatsapp-logo.png" alt="Image">
            </div>
            <div class="whatsapp-title"><span>Envie uma mensagem</span></div>
        </div>
        <div class="input-form">
            <input type="text" placeholder="Nome" name="name">
        </div>
        <div class="input-form">
            <input type="text" placeholder="Telefone" name="phone_number">
        </div>
        <div class="input-form">
            <input type="text" placeholder="E-mail" name="email">
        </div>
        <div class="input-form">
            <input type="text" placeholder="Mensagem" name="message">
        </div>
        <div class="input-form">
            <button type="submit" name="message">Enviar Mensagem</button>
        </div>
    </form>

</div>

<div class="whatsapp-button">

</div>