.footer{
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-color: #333;
    font-family: Quicksand,sans-serif;
    display: flex;

    &-desktop{
        width: 70%;
        display: flex;
        align-items: center;
        @media screen and(max-width:768px){
            display: none;

        }
    }

    &-contact{
        
        &-mobile{
            width: 100%;
            height: 70px;
            font-size: 30px;
            @media screen and(min-width: 768px){
                width: 30%;
                font-size: 21px;
            }
        }

        &-swiper__container{
            max-width: 320px;
        }

        &-swiper__wrapper{
            text-align: center;
            
            color: #FFCB00;
            
            a{
                padding-top: 12px;
                @media screen and(min-width: 768px){
                    padding-top: 18px;
                }
                text-decoration: none;
            }
        }
    }

    &-extras{
        margin-bottom: 70px;
        background-color: #FFCB00;
        color: #403300;
        &-container{
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }
        &-item{
            width: 33.33%;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}

/*Swiper Style*/
.swiper-container{
    height: 100%;
}

.swiper-button-prev {
    background-image: url(http://localhost:8080/assets/img/left-arrow.svg)!important;
}

.swiper-button-next {
    background-image: url(http://localhost:8080/assets/img/right-arrow.svg)!important;
}

.swiper-pagination-bullet-active{
    background-color: #FFCB00!important;
}
/*Swiper Style*/