.footer {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  background-color: #333;
  font-family: Quicksand, sans-serif;
  display: flex;
  z-index: 2;
  border-top: 3px solid #fff;
  &-desktop {
    width: 70%;
    display: flex;
    align-items: center;
    @media screen and(max-width:768px) {
      display: none;
    }
  }

  &-contact {
    &-mobile {
      width: 100%;
      height: 70px;
      font-size: 25px;
      @media screen and(min-width: 768px) {
        width: 30%;
        font-size: 21px;
      }
    }

    &-swiper__container {
      max-width: 320px;
    }

    &-swiper__wrapper {
      text-align: center;

      color: #ffcb00;

      a {
        padding-top: 12px;
        @media screen and(min-width: 768px) {
          padding-top: 18px;
        }
        text-decoration: none;
      }
    }
  }

  &-extras {
    
    margin-bottom: 72px;
    background-color: #ffcb00;
    color: #403300;
    
    &-container {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      @media screen and(max-width:768px){
        display: grid;
        text-align: center;
      }
      min-height: 250px;
      
    }
    &-item {

      li{
        text-decoration: none;
        padding: 5px 0 0 0;
        list-style: none;
      }

      width: 49.99%;
      text-align: center;
      @media screen and(max-width:768px){
        text-align: center;
        width: 100%;
      }
      font-size: 14px;
      padding: 10px 0 0 0;
      :nth-child(2){
        text-transform: uppercase;
        text-align: left;
      }

    }
    &_link{
      display: grid;
      text-decoration: none;
      align-content: center;
      font-weight: 600;
      font-style: normal;
      font-size: 12px;;
      padding: 2px 0 2px 0;
      color: black;
      &:hover {
        color: brown;;
      }
    }
  }
}

.container-copyright{
  text-align: center;
  width: 100%;
  font-size: 11px;
  
  &-link{
    text-decoration: none;
    color: blue;
    
    &:link {
      color: black;
    }
    &:link {
      color: black;
    }
    &:focus {
      background: #FFCB00;
    }
  }

}

/*Swiper Style*/
.swiper-container {
  height: 100%;
}

.swiper-button-prev {
  background-image: url(../../img/left-arrow.svg) !important;
}

.swiper-button-next {
  background-image: url(../../img/right-arrow.svg) !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffcb00 !important;
}
/*Swiper Style*/
